{% include 'recipes/partials/head.html' %}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a href="/">
                    <i class="fa-solid fa-utensils"></i>
                    <span>Django World</span>
                </a>
            </h1>
            <h2><i class="fa-solid fa-user-secret"></i>
                - Nome: {{ nome }} <br>
                <i class="fa-solid fa-calendar-days"></i>
                - Idade: {{ idade }}
            </h2>
        </div>
    </header>
</body>

</html>